<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediTask - Your Health, Our Priority</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,300;1,700;1,800;1,900&family=Ubuntu&display=swap" rel="stylesheet">
    <style>
      type = "text/css"
      src = "{{ url_for('static', filename='style.css') }}"
    </style>
</head>
<body>
    <nav>
        <h1>MediTask</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock content %}
    <footer>
        &copy; 2025 MediTask. All rights reserved.
    </footer>
    <script>
        type = "text/javascript"
        src = "{{ url_for('static', filename='index.js') }}"
    </script>
</body>
</html>
